.top-bar, .top-bar ul {
	background-color: #59abe3;
}

.top-bar a {
	color: white;
}

.button, .label {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

#how_to_info {
	padding-right: 20px;
}

.publication_author_link {
	color: white;
}
